body
{
  background-color: linear-gradient(180deg, #E3C2FE, #FFFFFF);
  background-attachment: fixed;
  margin: 5px;
  padding: 5px;
}

.header
{
  text-align: center;
  padding: 10px;
  margin: 5px;
}